
<section class="cep">
  <div class="inputs">
<div class="input-cep">
<input type="text" placeholder="Digite um cep" [(ngModel)]="cep" class="input-box">
</div>

<div class="button-div">
<button class="button" (click)="getCep()" type="button">Buscar</button>
</div>
</div>

@if(endereco){
<div class="info">
  <p>Rua: {{endereco.logradouro}}</p>
  <p>Bairro: {{endereco.bairro}}</p>
  <p>Cidade: {{endereco.localidade}}</p>
  <p>Estado: {{endereco.estado}}</p>
</div>
}@else if (erro){
<p class="erro">{{ erro }}</p>
}@else if(loading){
  <p>loading...</p>
}
</section>



