.div{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.conteiner{
  min-height: 400px;
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: rgb(115, 136, 179);
  width: 80%;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
}

.header{
  width: 100%;
  background-color: rgb(101, 142, 255);
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  padding: 20px;
}

.header h1{
  color: white;
  text-align: center;
}

@media (max-width: 1024px){

  .conteiner{
    flex-direction: column;
    gap: 40px;
    width: 90%;
  }


}
